<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= todo.title %></title>
  </head>
  <body>
    <h1><%= todo.title %></h1>

    <hr />

    <a href="/remove-todo/<%= todo.id %>"> odebrat </a>
    &nbsp;
    <a href="/toggle-todo/<%= todo.id %>">
      <%= todo.done ? 'hotovo' : 'nehotovo' %>
    </a>

    <hr />

    <form method="post" action="/update-todo/<%= todo.id %>">
      <h2>Upravit název</h2>
      <input placeholder="Název todočka" name="title" />
      <button type="submit">Upravit název</button>
    </form>

    <form method="post" action="/update-priority/<%= todo.id %>">
      <h2>Upravit prioritu</h2>

      <select name="priority" id="priority">
        <option value="normal" <%= todo.priority === 'normal' ? 'selected' : '' %>>Normal</option>
        <option value="low" <%= todo.priority === 'low' ? 'selected' : '' %>>Low</option>
        <option value="high" <%= todo.priority === 'high' ? 'selected' : '' %>>High</option>
      </select>
      <button type="submit">Upravit prioritu</button>
    </form>

    <hr />

    <a href="/">Zpět na seznam</a>
  </body>
</html>
